<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
	name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Ticket Tracker Application</title>
</head>
<body>

	<div class="container">
		<header
			class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
			<a href="/"
				class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
				Ticket Tracker Application</a>

			<ul
				class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/tickets/" class="nav-link px-2 link-secondary">Tickets</a></li>
				<li><a href="/tickets/newticket/"
					class="nav-link px-2 link-dark">New Ticket</a></li>
			</ul>
		</header>
		<form action="/tickets/search" class="form-inline">
			<input type="search" name="title" placeholder="Title"
				class="form-control-sm mr-2 mb-3" />
			<button type="submit" class="btn btn-success btn-sm mb-3">Search</button>
		</form>
		<h2>List of Tickets</h2>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
					<th>Ticket Title</th>
					<th>Ticket Short Description</th>
					<th>Ticket Created On</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tickets: ${tickets}">
					<td th:text="${tickets.id}" />
					<td th:text="${tickets.title}" />
					<td th:text="${tickets.shortDescription}" />
					<td th:text="${tickets.createdOn}" />
					<td><a class="btn btn-danger btn-sm"
						th:href="'/tickets/edit?id='+${tickets.id}">Edit</a> <a
						class="btn btn-danger btn-sm"
						th:href="'/tickets/delete?id='+${tickets.id}"
						onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
							Delete </a> <a class="btn btn-danger btn-sm"
						th:href="'/tickets/view?id='+${tickets.id}">View</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>